opencv-python
cmake
pyyaml
streamlit==1.22.0
dlib-19.22.99-cp310-cp310-win_amd64.whl @ git+https://github.com/Murtaza-Saeed/dlib/blob/master/dlib-19.22.99-cp310-cp310-win_amd64.whl
dlib
#Fork of face_recognition using prebuild dlib library instead
face_recognition @ git+https://github.com/thetoby9944/face_recognition
pandas
pillow
